In [ ]:
from data_pipeline.sources.yfinance_source import fetch_stock_market_prices

In [3]:
df = fetch_stock_market_prices(
    ticker = 'NVDA',
    start_date = '2022-01-01'
)

df.head(10)

[*********************100%***********************]  1 of 1 completed

Price       Date Ticker      Close       High        Low       Open     Volume
0     2022-01-03   NVDA  30.068224  30.657190  29.732812  29.762760  391547000
1     2022-01-04   NVDA  29.238682  30.414617  28.299331  30.223952  527154000
2     2022-01-05   NVDA  27.555630  29.364455  27.484755  28.898272  498064000
3     2022-01-06   NVDA  28.128628  28.388172  27.017579  27.591570  454186000
4     2022-01-07   NVDA  27.199257  28.372199  27.009589  28.091691  409939000
5     2022-01-10   NVDA  27.351990  27.420869  25.599066  26.534425  594681000
6     2022-01-11   NVDA  27.768257  28.015824  26.791972  27.275123  404089000
7     2022-01-12   NVDA  27.949940  28.544894  27.559624  28.017819  383413000
8     2022-01-13   NVDA  26.528437  28.430098  26.451570  28.329275  540171000
9     2022-01-14   NVDA  26.894793  27.149347  26.164075  26.253917  395832000