In [ ]:
import yfinance as yf
from datetime import datetime

ticker = 'NVDA'
start_date = '2022-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

df = yf.download(ticker, start=start_date, end=end_date)
df = df.stack(level=1).reset_index()
df.head(10)

[*********************100%***********************]  1 of 1 completed
C:\Users\anton\AppData\Local\Temp\ipykernel_31216\2054868209.py:10: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df = df.stack(level=1).reset_index()

Price       Date Ticker      Close       High        Low       Open     Volume
0     2022-01-03   NVDA  30.068224  30.657190  29.732812  29.762760  391547000
1     2022-01-04   NVDA  29.238678  30.414613  28.299327  30.223948  527154000
2     2022-01-05   NVDA  27.555632  29.364457  27.484757  28.898274  498064000
3     2022-01-06   NVDA  28.128624  28.388169  27.017575  27.591567  454186000
4     2022-01-07   NVDA  27.199257  28.372199  27.009589  28.091691  409939000
5     2022-01-10   NVDA  27.351990  27.420869  25.599066  26.534425  594681000
6     2022-01-11   NVDA  27.768261  28.015828  26.791976  27.275127  404089000
7     2022-01-12   NVDA  27.949944  28.544898  27.559628  28.017823  383413000
8     2022-01-13   NVDA  26.528433  28.430093  26.451566  28.329271  540171000
9     2022-01-14   NVDA  26.894787  27.149341  26.164069  26.253912  395832000

In [6]:
df.columns

MultiIndex([( 'Close', 'NVDA'),
            (  'High', 'NVDA'),
            (   'Low', 'NVDA'),
            (  'Open', 'NVDA'),
            ('Volume', 'NVDA')],
           names=['Price', 'Ticker'])

In [ ]:
# Coluna para Modelo de Predição
df = df[['Close']]
df.dropna(inplace=True)